AxistoolsWsdl2java/wsdl/CollGWCfoInt.wsdl

<?xml version="1.0" encoding="ISO-8859-9"?>
<definitions  xmlns:wsr="http://www.openuri.org/2002/10/soap/reliability/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding"
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://my.turkcell.com.tr:7001/CollGWws/CollGW"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:conv="http://www.openuri.org/2002/04/wsdl/conversation/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  targetNamespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW">
 <types   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
   xmlns:wsr="http://www.openuri.org/2002/10/soap/reliability/"
   xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding"
   xmlns:s="http://www.w3.org/2001/XMLSchema"
   xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
   xmlns:tns="http://my.turkcell.com.tr:7001/CollGWws/CollGW"
   xmlns:conv="http://www.openuri.org/2002/04/wsdl/conversation/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
   xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <xsd:schema    xmlns:stns="java:com.turkcelltech.collgw.model.cfoint"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="qualified"
    elementFormDefault="qualified"
    targetNamespace="java:com.turkcelltech.collgw.model.cfoint">
   <xsd:import     namespace="java:language_builtins.util">
   </xsd:import>
   <xsd:import     namespace="java:com.turkcelltech.collgw.model.common">
   </xsd:import>
   <xsd:complexType     name="AutoPaymentInfoRequest">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="contractIdentifier"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="opDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="stan"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="AutoPaymentInfoResponse">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="apayStatus"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="appDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="appOwner"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="bankName"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="billCycle"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="branchId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="ccNo"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="errMsg"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="reasonCode"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="respCode"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="tcellStatus"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="Header">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="application"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="operationName"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="transactionDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="transactionId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="userId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="InvoiceAddRequest">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="accDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="billCycle"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="compId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="customerId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="invDet"
       type="stns:InvoiceDetail"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="msisdn"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       xmlns:tp="java:com.turkcelltech.collgw.model.common"
       maxOccurs="1"
       nillable="true"
       name="orig"
       type="tp:OriginatorId"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="sessionId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="stan"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="InvoiceDelayRequest">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="customerId"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="delayDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="invoiceId"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="InvoiceDelayResponse">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="errMsg"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="respCode"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="InvoiceDetail">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="controlId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="duedate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invAmount"
       type="xsd:double"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invNo"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invType"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="nameSurname"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="orderNo"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="period"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="prevMsisdn"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="remark"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="InvoiceDetail2">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="dueDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invAmount"
       type="xsd:double"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invNo"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invType"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="msisdn"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="period"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="InvoiceDetail5">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="controlId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="dueDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invAmount"
       type="xsd:double"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="invDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invNo"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invType"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="msisdn"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="nameSurname"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="orderNo"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="payAmount"
       type="xsd:double"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="period"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="remark"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="InvoicePaymentCancelRequest">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="accDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="appCode"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="captDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="compId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="curr"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invCount"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="invData"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       xmlns:tp="java:language_builtins.util"
       maxOccurs="1"
       nillable="true"
       name="invoiceList"
       type="tp:ArrayList"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="msgDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="msisdn"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="opType"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="paymSource"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="procDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="sessionId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="stan"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="InvoicePaymentRequest">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="accDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="appCode"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="captDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="compId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="curr"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invCount"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="invData"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       xmlns:tp="java:language_builtins.util"
       maxOccurs="1"
       nillable="true"
       name="invoiceList"
       type="tp:ArrayList"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="msgDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="msisdn"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="opType"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="paymSource"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="procDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="reconDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="sessionId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="stan"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="InvoicePaymentResponse">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="compId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="errMsg"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="msgDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="procDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="respCode"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="stan"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="InvoiceQueryOpenResponse">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="compId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="curr"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="errMsg"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invCount"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       xmlns:tp="java:language_builtins.util"
       maxOccurs="1"
       nillable="true"
       name="invoiceList"
       type="tp:ArrayList"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="msgDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="msisdn"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       xmlns:tp="java:com.turkcelltech.collgw.model.common"
       maxOccurs="1"
       nillable="true"
       name="orig"
       type="tp:OriginatorId"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="respCode"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="stan"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="KtoOpenInvoicesDetailsListRequest">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="compId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="count"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invoiceNo"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="pageNum"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="queryNo"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="KtoOpenInvoicesDetailsListResponse">
    <xsd:sequence>
     <xsd:element       xmlns:tp="java:language_builtins.util"
       maxOccurs="1"
       nillable="true"
       name="invoiceList"
       type="tp:List"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="resultCode"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="resultDesc"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="KtoOpenInvoicesDetailsRequest">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="compId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invoiceNo"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="ktoMsisdn"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="KtoOpenInvoicesDetailsResponse">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       name="invCount"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="queryNo"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="resultCode"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="resultDesc"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="PaymentInfoDetail">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="bankId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invAmount"
       type="xsd:double"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invNo"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="invType"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="logDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="msisdn"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="opType"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="paymSource"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="period"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="PaymentInfoRequest">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       name="companyId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="msisdn"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="PaymentInfoResponse">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="errMsg"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       xmlns:tp="java:language_builtins.util"
       maxOccurs="1"
       nillable="true"
       name="paymentInfoList"
       type="tp:ArrayList"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="respCode"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="TransactionCheckRequest">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="accDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="appCode"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="compId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="opType"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="transactionId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="TransactionCheckResponse">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="errMsg"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="opType"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="respCode"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="transactionId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
  <xsd:schema    xmlns:stns="java:com.turkcelltech.collgw.model.common"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="qualified"
    elementFormDefault="qualified"
    targetNamespace="java:com.turkcelltech.collgw.model.common">
   <xsd:complexType     name="CustomerInformation">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="apCompany"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="apDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="apOrdererName"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="billCycle"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="creditCardNum"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="OriginatorId">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="branch"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="city"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="teller"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="user"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
  <xsd:schema    xmlns:stns="java:com.turkcelltech.collgw.model.invoice"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="qualified"
    elementFormDefault="qualified"
    targetNamespace="java:com.turkcelltech.collgw.model.invoice">
   <xsd:import     namespace="java:language_builtins.util">
   </xsd:import>
   <xsd:import     namespace="java:com.turkcelltech.collgw.model.common">
   </xsd:import>
   <xsd:import     namespace="java:language_builtins.lang">
   </xsd:import>
   <xsd:import     namespace="http://schemas.xmlsoap.org/soap/encoding/">
   </xsd:import>
   <xsd:complexType     name="ArrayOfCustomerInvoiceInfo2">
    <xsd:complexContent>
     <xsd:restriction       xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
       base="soapenc:Array">
      <xsd:attribute        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        ref="soapenc:arrayType"
        wsdl:arrayType="stns:CustomerInvoiceInfo2[]">
      </xsd:attribute>
     </xsd:restriction>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType     name="CustomerInvoiceInfo2">
    <xsd:sequence>
     <xsd:element       xmlns:tp="java:com.turkcelltech.collgw.model.common"
       maxOccurs="1"
       nillable="true"
       name="customerInformation"
       type="tp:CustomerInformation"
       minOccurs="1">
     </xsd:element>
     <xsd:element       xmlns:tp="java:language_builtins.util"
       maxOccurs="1"
       nillable="true"
       name="invoiceList"
       type="tp:ArrayList"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="queryKeyValue"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="InvoiceAddResponse">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="accDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="compId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="errMsg"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="respCode"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="stan"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="InvoiceDetail4">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="controlId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="dueDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invAmount"
       type="xsd:double"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invNo"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invType"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="msisdn"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="nameSurname"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="orderNo"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="payAmount"
       type="xsd:double"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="period"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="remark"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="InvoiceQueryByKeyOpenBulkRequest">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="compId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="curr"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invCount"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="msgDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       xmlns:tp="java:com.turkcelltech.collgw.model.common"
       maxOccurs="1"
       nillable="true"
       name="orig"
       type="tp:OriginatorId"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="period"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="procDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="procTime"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="queryKey"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       xmlns:tp="java:language_builtins.lang"
       maxOccurs="1"
       nillable="true"
       name="queryKeyValueList"
       type="tp:ArrayOfString"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="sessionId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="stan"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="InvoiceQueryByKeyOpenBulkResponse">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="compId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="curr"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="custInvInfo"
       type="stns:ArrayOfCustomerInvoiceInfo2"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="errMsg"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="msgDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       xmlns:tp="java:com.turkcelltech.collgw.model.common"
       maxOccurs="1"
       nillable="true"
       name="orig"
       type="tp:OriginatorId"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="respCode"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="stan"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="InvoiceQueryOpenRequest">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="compId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="curr"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="custId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="invCount"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="msgDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="msisdn"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
     <xsd:element       xmlns:tp="java:com.turkcelltech.collgw.model.common"
       maxOccurs="1"
       nillable="true"
       name="orig"
       type="tp:OriginatorId"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="period"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="procDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="procTime"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="sessionId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="stan"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="PaymentProvisionCancelRequest">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="accDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="appCode"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="captDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="compId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="curr"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       xmlns:tp="java:language_builtins.util"
       maxOccurs="1"
       nillable="true"
       name="invoiceList"
       type="tp:ArrayList"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="msgDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       xmlns:tp="java:com.turkcelltech.collgw.model.common"
       maxOccurs="1"
       nillable="true"
       name="orig"
       type="tp:OriginatorId"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="paymSource"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="procDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="provisionNo"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="queryKey"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="queryKeyValue"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="reconDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="sessionId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="stan"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="PaymentProvisionRequest">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="accDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="appCode"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="captDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="compId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="curr"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       xmlns:tp="java:language_builtins.util"
       maxOccurs="1"
       nillable="true"
       name="invoiceList"
       type="tp:ArrayList"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="msgDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       xmlns:tp="java:com.turkcelltech.collgw.model.common"
       maxOccurs="1"
       nillable="true"
       name="orig"
       type="tp:OriginatorId"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="paymSource"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="procDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="provisionNo"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="queryKey"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="queryKeyValue"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="reconDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="sessionId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="stan"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
  <xsd:schema    xmlns:stns="java:com.turkcelltech.collgw.model.logonoff"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="qualified"
    elementFormDefault="qualified"
    targetNamespace="java:com.turkcelltech.collgw.model.logonoff">
   <xsd:complexType     name="WebserviceLogoffRequest">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="msgDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="sessionId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="stan"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="WebserviceLogoffResponse">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="errMsg"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="msgDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="respCode"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="stan"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="WebserviceLogonRequest">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="msgDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="password"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="stan"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType     name="WebserviceLogonResponse">
    <xsd:sequence>
     <xsd:element       maxOccurs="1"
       name="bankId"
       type="xsd:int"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="errMsg"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="msgDate"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="respCode"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       nillable="true"
       name="sessionId"
       type="xsd:string"
       minOccurs="1">
     </xsd:element>
     <xsd:element       maxOccurs="1"
       name="stan"
       type="xsd:long"
       minOccurs="1">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
  <xsd:schema    xmlns:stns="java:language_builtins.lang"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="qualified"
    elementFormDefault="qualified"
    targetNamespace="java:language_builtins.lang">
   <xsd:import     namespace="http://schemas.xmlsoap.org/soap/encoding/">
   </xsd:import>
   <xsd:complexType     name="ArrayOfString">
    <xsd:complexContent>
     <xsd:restriction       xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
       base="soapenc:Array">
      <xsd:attribute        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        ref="soapenc:arrayType"
        wsdl:arrayType="xsd:string[]">
      </xsd:attribute>
     </xsd:restriction>
    </xsd:complexContent>
   </xsd:complexType>
  </xsd:schema>
  <xsd:schema    xmlns:stns="java:language_builtins.util"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="qualified"
    elementFormDefault="qualified"
    targetNamespace="java:language_builtins.util">
   <xsd:import     namespace="http://schemas.xmlsoap.org/soap/encoding/">
   </xsd:import>
   <xsd:complexType     name="ArrayList">
    <xsd:complexContent>
     <xsd:restriction       xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
       base="soapenc:Array">
      <xsd:attribute        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        ref="soapenc:arrayType"
        wsdl:arrayType="xsd:anyType[]">
      </xsd:attribute>
     </xsd:restriction>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType     name="List">
    <xsd:complexContent>
     <xsd:restriction       xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
       base="soapenc:Array">
      <xsd:attribute        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        ref="soapenc:arrayType"
        wsdl:arrayType="xsd:anyType[]">
      </xsd:attribute>
     </xsd:restriction>
    </xsd:complexContent>
   </xsd:complexType>
  </xsd:schema>
 </types>
 <message   name="getAutoPaymentInfo">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="header"
    type="partns:Header">
  </part>
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="autoPaymentInfoRequest"
    type="partns:AutoPaymentInfoRequest">
  </part>
 </message>
 <message   name="getAutoPaymentInfoResponse">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="result"
    type="partns:AutoPaymentInfoResponse">
  </part>
 </message>
 <message   name="insertInvoiceDelay">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="header"
    type="partns:Header">
  </part>
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="invoiceDelayRequest"
    type="partns:InvoiceDelayRequest">
  </part>
 </message>
 <message   name="insertInvoiceDelayResponse">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="result"
    type="partns:InvoiceDelayResponse">
  </part>
 </message>
 <message   name="cancelInvoicePayment">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="header"
    type="partns:Header">
  </part>
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="invoicePaymentCancelRequest"
    type="partns:InvoicePaymentCancelRequest">
  </part>
 </message>
 <message   name="cancelInvoicePaymentResponse">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="result"
    type="partns:InvoicePaymentResponse">
  </part>
 </message>
 <message   name="cancelInvoicePaymentByKey">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="header"
    type="partns:Header">
  </part>
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.invoice"
    name="paymentProvisionCancelRequest"
    type="partns:PaymentProvisionCancelRequest">
  </part>
 </message>
 <message   name="cancelInvoicePaymentByKeyResponse">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="result"
    type="partns:InvoicePaymentResponse">
  </part>
 </message>
 <message   name="payInvoice">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="header"
    type="partns:Header">
  </part>
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="invoicePaymentRequest"
    type="partns:InvoicePaymentRequest">
  </part>
 </message>
 <message   name="payInvoiceResponse">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="result"
    type="partns:InvoicePaymentResponse">
  </part>
 </message>
 <message   name="payInvoiceByKey">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="header"
    type="partns:Header">
  </part>
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.invoice"
    name="paymentProvisionRequest"
    type="partns:PaymentProvisionRequest">
  </part>
 </message>
 <message   name="payInvoiceByKeyResponse">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="result"
    type="partns:InvoicePaymentResponse">
  </part>
 </message>
 <message   name="getOpenInvoices">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="header"
    type="partns:Header">
  </part>
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.invoice"
    name="invoiceQueryOpenRequest"
    type="partns:InvoiceQueryOpenRequest">
  </part>
 </message>
 <message   name="getOpenInvoicesResponse">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="result"
    type="partns:InvoiceQueryOpenResponse">
  </part>
 </message>
 <message   name="getKtoOpenInvoicesDetailsList">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="header"
    type="partns:Header">
  </part>
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="ktoOpenInvoicesDetailsListRequest"
    type="partns:KtoOpenInvoicesDetailsListRequest">
  </part>
 </message>
 <message   name="getKtoOpenInvoicesDetailsListResponse">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="result"
    type="partns:KtoOpenInvoicesDetailsListResponse">
  </part>
 </message>
 <message   name="getKtoOpenInvoicesDetails">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="header"
    type="partns:Header">
  </part>
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="ktoOpenInvoicesDetailsRequest"
    type="partns:KtoOpenInvoicesDetailsRequest">
  </part>
 </message>
 <message   name="getKtoOpenInvoicesDetailsResponse">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="result"
    type="partns:KtoOpenInvoicesDetailsResponse">
  </part>
 </message>
 <message   name="getPaymentInfoByMsisdn">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="header"
    type="partns:Header">
  </part>
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="paymentInfoRequest"
    type="partns:PaymentInfoRequest">
  </part>
 </message>
 <message   name="getPaymentInfoByMsisdnResponse">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="result"
    type="partns:PaymentInfoResponse">
  </part>
 </message>
 <message   name="checkTransaction">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="header"
    type="partns:Header">
  </part>
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="transactionCheckRequest"
    type="partns:TransactionCheckRequest">
  </part>
 </message>
 <message   name="checkTransactionResponse">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="result"
    type="partns:TransactionCheckResponse">
  </part>
 </message>
 <message   name="addInvoice">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="header"
    type="partns:Header">
  </part>
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="invoiceAddRequest"
    type="partns:InvoiceAddRequest">
  </part>
 </message>
 <message   name="addInvoiceResponse">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.invoice"
    name="result"
    type="partns:InvoiceAddResponse">
  </part>
 </message>
 <message   name="getBulkOpenInvoicesByKey">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="header"
    type="partns:Header">
  </part>
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.invoice"
    name="invoiceQueryByKeyOpenBulkRequest"
    type="partns:InvoiceQueryByKeyOpenBulkRequest">
  </part>
 </message>
 <message   name="getBulkOpenInvoicesByKeyResponse">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.invoice"
    name="result"
    type="partns:InvoiceQueryByKeyOpenBulkResponse">
  </part>
 </message>
 <message   name="fieldInvoiceDetail2">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="invoiceDetail2"
    type="partns:InvoiceDetail2">
  </part>
 </message>
 <message   name="fieldInvoiceDetail2Response">
 </message>
 <message   name="fieldInvoiceDetail4">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.invoice"
    name="invoiceDetail4"
    type="partns:InvoiceDetail4">
  </part>
 </message>
 <message   name="fieldInvoiceDetail4Response">
 </message>
 <message   name="fieldInvoiceDetail5">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="invoiceDetail5"
    type="partns:InvoiceDetail5">
  </part>
 </message>
 <message   name="fieldInvoiceDetail5Response">
 </message>
 <message   name="fieldPaymentInfoDetail">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.cfoint"
    name="paymentInfoDetail"
    type="partns:PaymentInfoDetail">
  </part>
 </message>
 <message   name="fieldPaymentInfoDetailResponse">
 </message>
 <message   name="webserviceLogoff">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.logonoff"
    name="webserviceLogoffRequest"
    type="partns:WebserviceLogoffRequest">
  </part>
 </message>
 <message   name="webserviceLogoffResponse">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.logonoff"
    name="result"
    type="partns:WebserviceLogoffResponse">
  </part>
 </message>
 <message   name="webserviceLogon">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.logonoff"
    name="webserviceLogonRequest"
    type="partns:WebserviceLogonRequest">
  </part>
 </message>
 <message   name="webserviceLogonResponse">
  <part    xmlns:partns="java:com.turkcelltech.collgw.model.logonoff"
    name="result"
    type="partns:WebserviceLogonResponse">
  </part>
 </message>
 <portType   name="CollGWwsCfoIntPort">
  <operation    name="getAutoPaymentInfo">
   <input     message="tns:getAutoPaymentInfo">
   </input>
   <output     message="tns:getAutoPaymentInfoResponse">
   </output>
  </operation>
  <operation    name="insertInvoiceDelay">
   <input     message="tns:insertInvoiceDelay">
   </input>
   <output     message="tns:insertInvoiceDelayResponse">
   </output>
  </operation>
  <operation    name="cancelInvoicePayment">
   <input     message="tns:cancelInvoicePayment">
   </input>
   <output     message="tns:cancelInvoicePaymentResponse">
   </output>
  </operation>
  <operation    name="cancelInvoicePaymentByKey">
   <input     message="tns:cancelInvoicePaymentByKey">
   </input>
   <output     message="tns:cancelInvoicePaymentByKeyResponse">
   </output>
  </operation>
  <operation    name="payInvoice">
   <input     message="tns:payInvoice">
   </input>
   <output     message="tns:payInvoiceResponse">
   </output>
  </operation>
  <operation    name="payInvoiceByKey">
   <input     message="tns:payInvoiceByKey">
   </input>
   <output     message="tns:payInvoiceByKeyResponse">
   </output>
  </operation>
  <operation    name="getOpenInvoices">
   <input     message="tns:getOpenInvoices">
   </input>
   <output     message="tns:getOpenInvoicesResponse">
   </output>
  </operation>
  <operation    name="getKtoOpenInvoicesDetailsList">
   <input     message="tns:getKtoOpenInvoicesDetailsList">
   </input>
   <output     message="tns:getKtoOpenInvoicesDetailsListResponse">
   </output>
  </operation>
  <operation    name="getKtoOpenInvoicesDetails">
   <input     message="tns:getKtoOpenInvoicesDetails">
   </input>
   <output     message="tns:getKtoOpenInvoicesDetailsResponse">
   </output>
  </operation>
  <operation    name="getPaymentInfoByMsisdn">
   <input     message="tns:getPaymentInfoByMsisdn">
   </input>
   <output     message="tns:getPaymentInfoByMsisdnResponse">
   </output>
  </operation>
  <operation    name="checkTransaction">
   <input     message="tns:checkTransaction">
   </input>
   <output     message="tns:checkTransactionResponse">
   </output>
  </operation>
  <operation    name="addInvoice">
   <input     message="tns:addInvoice">
   </input>
   <output     message="tns:addInvoiceResponse">
   </output>
  </operation>
  <operation    name="getBulkOpenInvoicesByKey">
   <input     message="tns:getBulkOpenInvoicesByKey">
   </input>
   <output     message="tns:getBulkOpenInvoicesByKeyResponse">
   </output>
  </operation>
  <operation    name="fieldInvoiceDetail2">
   <input     message="tns:fieldInvoiceDetail2">
   </input>
   <output     message="tns:fieldInvoiceDetail2Response">
   </output>
  </operation>
  <operation    name="fieldInvoiceDetail4">
   <input     message="tns:fieldInvoiceDetail4">
   </input>
   <output     message="tns:fieldInvoiceDetail4Response">
   </output>
  </operation>
  <operation    name="fieldInvoiceDetail5">
   <input     message="tns:fieldInvoiceDetail5">
   </input>
   <output     message="tns:fieldInvoiceDetail5Response">
   </output>
  </operation>
  <operation    name="fieldPaymentInfoDetail">
   <input     message="tns:fieldPaymentInfoDetail">
   </input>
   <output     message="tns:fieldPaymentInfoDetailResponse">
   </output>
  </operation>
  <operation    name="webserviceLogoff">
   <input     message="tns:webserviceLogoff">
   </input>
   <output     message="tns:webserviceLogoffResponse">
   </output>
  </operation>
  <operation    name="webserviceLogon">
   <input     message="tns:webserviceLogon">
   </input>
   <output     message="tns:webserviceLogonResponse">
   </output>
  </operation>
 </portType>
 <binding   name="CollGWwsCfoIntPort"
   type="tns:CollGWwsCfoIntPort">
   <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
  <operation    name="getAutoPaymentInfo">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="insertInvoiceDelay">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="cancelInvoicePayment">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="cancelInvoicePaymentByKey">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="payInvoice">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="payInvoiceByKey">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="getOpenInvoices">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="getKtoOpenInvoicesDetailsList">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="getKtoOpenInvoicesDetails">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="getPaymentInfoByMsisdn">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="checkTransaction">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="addInvoice">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="getBulkOpenInvoicesByKey">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="fieldInvoiceDetail2">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="fieldInvoiceDetail4">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="fieldInvoiceDetail5">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="fieldPaymentInfoDetail">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="webserviceLogoff">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
  <operation    name="webserviceLogon">
    <soap:operation style="rpc" soapAction="" />
   <input>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </input>
   <output>
     <soap:body use="encoded" namespace="http://my.turkcell.com.tr:7001/CollGWws/CollGW" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
   </output>
  </operation>
 </binding>
 <service   name="CollGWwsCfoInt">
  <port    name="CollGWwsCfoIntPort"
    binding="tns:CollGWwsCfoIntPort">
    <soap:address location="http://10.200.62.39:7033/CollGWws/CollGWCfoInt" />
  </port>
 </service>
</definitions>