EuroMessageWsClient/META-INF/wsdl/Auth.wsdl

<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://ws.euromsg.com/auth" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.euromsg.com/auth">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.euromsg.com/auth">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="Username" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Password" type="s:string"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="LoginResult" type="tns:EmAuthResult"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmAuthResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:EmResult">
            <s:sequence>
              <s:element maxOccurs="1" minOccurs="0" name="ServiceTicket" type="s:string"></s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EmResult">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Code" type="s:string"></s:element>
          <s:element maxOccurs="1" minOccurs="0" name="Message" type="s:string"></s:element>
          <s:element maxOccurs="1" minOccurs="0" name="DetailedMessage" type="s:string"></s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ServiceTicket" type="s:string"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="LogoutResult" type="tns:EmAuthResult"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmAuthResult" nillable="true" type="tns:EmAuthResult"></s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part element="tns:Login" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part element="tns:LoginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part element="tns:Logout" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part element="tns:LogoutResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="Username" type="s:string"></wsdl:part>
    <wsdl:part name="Password" type="s:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part element="tns:EmAuthResult" name="Body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="LogoutHttpGetIn">
    <wsdl:part name="ServiceTicket" type="s:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="LogoutHttpGetOut">
    <wsdl:part element="tns:EmAuthResult" name="Body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="Username" type="s:string"></wsdl:part>
    <wsdl:part name="Password" type="s:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part element="tns:EmAuthResult" name="Body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="LogoutHttpPostIn">
    <wsdl:part name="ServiceTicket" type="s:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="LogoutHttpPostOut">
    <wsdl:part element="tns:EmAuthResult" name="Body"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AuthSoap">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Logon the system.</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn"></wsdl:input>
      <wsdl:output message="tns:LoginSoapOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Logoff the system.</wsdl:documentation>
      <wsdl:input message="tns:LogoutSoapIn"></wsdl:input>
      <wsdl:output message="tns:LogoutSoapOut"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AuthHttpGet">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Logon the system.</wsdl:documentation>
      <wsdl:input message="tns:LoginHttpGetIn"></wsdl:input>
      <wsdl:output message="tns:LoginHttpGetOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Logoff the system.</wsdl:documentation>
      <wsdl:input message="tns:LogoutHttpGetIn"></wsdl:input>
      <wsdl:output message="tns:LogoutHttpGetOut"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AuthHttpPost">
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Logon the system.</wsdl:documentation>
      <wsdl:input message="tns:LoginHttpPostIn"></wsdl:input>
      <wsdl:output message="tns:LoginHttpPostOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Logoff the system.</wsdl:documentation>
      <wsdl:input message="tns:LogoutHttpPostIn"></wsdl:input>
      <wsdl:output message="tns:LogoutHttpPostOut"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthSoap" type="tns:AuthSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://ws.euromsg.com/auth/Login" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://ws.euromsg.com/auth/Logout" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthSoap12" type="tns:AuthSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"></soap12:binding>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://ws.euromsg.com/auth/Login" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://ws.euromsg.com/auth/Logout" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthHttpGet" type="tns:AuthHttpGet">
    <http:binding verb="GET"></http:binding>
    <wsdl:operation name="Login">
      <http:operation location="/Login"></http:operation>
      <wsdl:input>
        <http:urlEncoded></http:urlEncoded>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"></mime:mimeXml>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <http:operation location="/Logout"></http:operation>
      <wsdl:input>
        <http:urlEncoded></http:urlEncoded>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"></mime:mimeXml>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthHttpPost" type="tns:AuthHttpPost">
    <http:binding verb="POST"></http:binding>
    <wsdl:operation name="Login">
      <http:operation location="/Login"></http:operation>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"></mime:content>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"></mime:mimeXml>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <http:operation location="/Logout"></http:operation>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"></mime:content>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"></mime:mimeXml>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Auth">
    <wsdl:port binding="tns:AuthSoap" name="AuthSoap">
      <soap:address location="http://ws.euromsg.com/live/auth.asmx"></soap:address>
    </wsdl:port>
    <wsdl:port binding="tns:AuthSoap12" name="AuthSoap12">
      <soap12:address location="http://ws.euromsg.com/live/auth.asmx"></soap12:address>
    </wsdl:port>
    <wsdl:port binding="tns:AuthHttpGet" name="AuthHttpGet">
      <http:address location="http://ws.euromsg.com/live/auth.asmx"></http:address>
    </wsdl:port>
    <wsdl:port binding="tns:AuthHttpPost" name="AuthHttpPost">
      <http:address location="http://ws.euromsg.com/live/auth.asmx"></http:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>