EuroMessageWsClient/META-INF/wsdl/Post.wsdl

<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://ws.euromsg.com/post" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.euromsg.com/post">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.euromsg.com/post">
      <s:element name="PostHtml">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ServiceTicket" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="FromName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="FromAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ReplyAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Subject" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="HtmlBody" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Charset" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ToName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ToEmailAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Attachments" type="tns:ArrayOfEmAttachment"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmAttachment">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="EmAttachment" nillable="true" type="tns:EmAttachment"></s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmAttachment">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"></s:element>
          <s:element maxOccurs="1" minOccurs="0" name="Type" type="s:string"></s:element>
          <s:element maxOccurs="1" minOccurs="0" name="Content" type="s:base64Binary"></s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="PostHtmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="PostHtmlResult" type="tns:EmPostResult"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmPostResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:EmResult">
            <s:sequence>
              <s:element maxOccurs="1" minOccurs="0" name="PostID" type="s:string"></s:element>
              <s:element maxOccurs="1" minOccurs="0" name="RelayStatus" type="s:string"></s:element>
              <s:element maxOccurs="1" minOccurs="0" name="DeliveryStatus" type="s:string"></s:element>
              <s:element maxOccurs="1" minOccurs="0" name="UndeliveryReason" type="s:string"></s:element>
              <s:element maxOccurs="1" minOccurs="1" name="MarkedSpam" type="s:boolean"></s:element>
              <s:element maxOccurs="1" minOccurs="0" name="KeyID" type="s:string"></s:element>
              <s:element maxOccurs="1" minOccurs="0" name="CustomParams" type="s:string"></s:element>
              <s:element maxOccurs="1" minOccurs="0" name="PostType" type="s:string"></s:element>
              <s:element maxOccurs="1" minOccurs="0" name="ReadTime" type="s:string"></s:element>
              <s:element maxOccurs="1" minOccurs="0" name="RelayBounceTime" type="s:string"></s:element>
              <s:element maxOccurs="1" minOccurs="0" name="LastUpdateTime" type="s:string"></s:element>
              <s:element maxOccurs="1" minOccurs="0" name="FromAdress" type="s:string"></s:element>
              <s:element maxOccurs="1" minOccurs="0" name="ReplyAdress" type="s:string"></s:element>
              <s:element maxOccurs="1" minOccurs="0" name="Subject" type="s:string"></s:element>
              <s:element maxOccurs="1" minOccurs="0" name="ToAddress" type="s:string"></s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EmResult">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Code" type="s:string"></s:element>
          <s:element maxOccurs="1" minOccurs="0" name="Message" type="s:string"></s:element>
          <s:element maxOccurs="1" minOccurs="0" name="DetailedMessage" type="s:string"></s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="PostHtmlWithCCandBCC">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ServiceTicket" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="FromName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="FromAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ReplyAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Subject" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="HtmlBody" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Charset" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ToName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ToEmailAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="CCEmailAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="BCCEmailAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Attachments" type="tns:ArrayOfEmAttachment"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostHtmlWithCCandBCCResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="PostHtmlWithCCandBCCResult" type="tns:EmPostResult"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostHtmlWithType">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ServiceTicket" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="FromName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="FromAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ReplyAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Subject" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="HtmlBody" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Charset" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ToName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ToEmailAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Attachments" type="tns:ArrayOfEmAttachment"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="PostType" type="s:string"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostHtmlWithTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="PostHtmlWithTypeResult" type="tns:EmPostResult"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostHtmlWithTypeCCandBCC">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ServiceTicket" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="FromName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="FromAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ReplyAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Subject" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="HtmlBody" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Charset" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ToName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ToEmailAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="CCEmailAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="BCCEmailAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Attachments" type="tns:ArrayOfEmAttachment"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="PostType" type="s:string"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostHtmlWithTypeCCandBCCResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="PostHtmlWithTypeCCandBCCResult" type="tns:EmPostResult"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostHtmlWithTypeKeyIDAndCustomParams">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ServiceTicket" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="FromName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="FromAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ReplyAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Subject" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="HtmlBody" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Charset" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ToName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ToEmailAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Attachments" type="tns:ArrayOfEmAttachment"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="PostType" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="KeyID" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="CustomParams" type="s:string"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostHtmlWithTypeKeyIDAndCustomParamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="PostHtmlWithTypeKeyIDAndCustomParamsResult" type="tns:EmPostResult"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostTransactionalEmailWithHtmlTemplate">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ServiceTicket" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="FromName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="FromAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ReplyAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="TemplateName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="SubjectVariables" type="tns:ArrayOfEmKeyValue"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="BodyVariables" type="tns:ArrayOfEmKeyValue"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Charset" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ToName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ToEmailAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Attachments" type="tns:ArrayOfEmAttachment"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmKeyValue">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="EmKeyValue" nillable="true" type="tns:EmKeyValue"></s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmKeyValue">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Key" type="s:string"></s:element>
          <s:element maxOccurs="1" minOccurs="0" name="Value" type="s:string"></s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="PostTransactionalEmailWithHtmlTemplateResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="PostTransactionalEmailWithHtmlTemplateResult" type="tns:EmPostResult"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostTransactionalEmailWithXsltTemplate">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ServiceTicket" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="FromName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="FromAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ReplyAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="TemplateName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Xml" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Charset" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ToName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ToEmailAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Attachments" type="tns:ArrayOfEmAttachment"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostTransactionalEmailWithXsltTemplateResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="PostTransactionalEmailWithXsltTemplateResult" type="tns:EmPostResult"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostTransactionalEmailWithXsltTemplate2">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ServiceTicket" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="FromName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="FromAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ReplyAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="TemplateName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Xml" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Charset" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ToName" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="ToEmailAddress" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="Attachments" type="tns:ArrayOfEmAttachment"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostTransactionalEmailWithXsltTemplate2Response">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="PostTransactionalEmailWithXsltTemplate2Result" type="tns:EmPostResult"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostResult">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ServiceTicket" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="PostID" type="s:string"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetPostResultResult" type="tns:EmPostResult"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostBulkResult">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ServiceTicket" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="BeginDate" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="EndDate" type="s:string"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostBulkResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetPostBulkResultResult" type="tns:EmPostResult"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="BulkReport" type="tns:ArrayOfEmPostBulkReport"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmPostBulkReport">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="EmPostBulkReport" nillable="true" type="tns:EmPostBulkReport"></s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmPostBulkReport">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="PostID" type="s:string"></s:element>
          <s:element maxOccurs="1" minOccurs="0" name="RelayStatus" type="s:string"></s:element>
          <s:element maxOccurs="1" minOccurs="0" name="DeliveryStatus" type="s:string"></s:element>
          <s:element maxOccurs="1" minOccurs="0" name="UndeliveryReason" type="s:string"></s:element>
          <s:element maxOccurs="1" minOccurs="1" name="MarkedSpam" type="s:boolean"></s:element>
          <s:element maxOccurs="1" minOccurs="0" name="KeyID" type="s:string"></s:element>
          <s:element maxOccurs="1" minOccurs="0" name="CustomParams" type="s:string"></s:element>
          <s:element maxOccurs="1" minOccurs="0" name="PostType" type="s:string"></s:element>
          <s:element maxOccurs="1" minOccurs="0" name="ReadTime" type="s:string"></s:element>
          <s:element maxOccurs="1" minOccurs="0" name="RelayBounceTime" type="s:string"></s:element>
          <s:element maxOccurs="1" minOccurs="0" name="LastUpdateTime" type="s:string"></s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetPostBulkResultWithOptional">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="serviceTicket" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="beginDateStr" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="endDateStr" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="postType" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="toAddress" type="s:string"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostBulkResultWithOptionalResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetPostBulkResultWithOptionalResult" type="tns:EmPostResult"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="BulkReport" type="tns:ArrayOfEmPostBulkReport"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostBulkResultWithCustomParams">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="serviceTicket" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="beginDateStr" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="endDateStr" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="customParams" type="s:string"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostBulkResultWithCustomParamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetPostBulkResultWithCustomParamsResult" type="tns:EmPostResult"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="bulkReports" type="tns:ArrayOfEmPostBulkReport"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostBulkResultByPostId">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="serviceTicket" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="postIds" type="tns:ArrayOfString"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="s:string"></s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetPostBulkResultByPostIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetPostBulkResultByPostIdResult" type="tns:EmPostResult"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="bulkResult" type="tns:ArrayOfEmPostResult"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmPostResult">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="EmPostResult" nillable="true" type="tns:EmPostResult"></s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetPostBulkBounceResult">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ServiceTicket" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="BeginDate" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="EndDate" type="s:string"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostBulkBounceResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetPostBulkBounceResultResult" type="tns:EmPostResult"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="BulkReport" type="tns:ArrayOfEmPostBulkReport"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostBulkResultByLastUpdate">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ServiceTicket" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="BeginDate" type="s:string"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="EndDate" type="s:string"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostBulkResultByLastUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetPostBulkResultByLastUpdateResult" type="tns:EmPostResult"></s:element>
            <s:element maxOccurs="1" minOccurs="0" name="BulkReport" type="tns:ArrayOfEmPostBulkReport"></s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmPostResult" nillable="true" type="tns:EmPostResult"></s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostHtmlSoapIn">
    <wsdl:part element="tns:PostHtml" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostHtmlSoapOut">
    <wsdl:part element="tns:PostHtmlResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostHtmlWithCCandBCCSoapIn">
    <wsdl:part element="tns:PostHtmlWithCCandBCC" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostHtmlWithCCandBCCSoapOut">
    <wsdl:part element="tns:PostHtmlWithCCandBCCResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostHtmlWithTypeSoapIn">
    <wsdl:part element="tns:PostHtmlWithType" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostHtmlWithTypeSoapOut">
    <wsdl:part element="tns:PostHtmlWithTypeResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostHtmlWithTypeCCandBCCSoapIn">
    <wsdl:part element="tns:PostHtmlWithTypeCCandBCC" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostHtmlWithTypeCCandBCCSoapOut">
    <wsdl:part element="tns:PostHtmlWithTypeCCandBCCResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostHtmlWithTypeKeyIDAndCustomParamsSoapIn">
    <wsdl:part element="tns:PostHtmlWithTypeKeyIDAndCustomParams" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostHtmlWithTypeKeyIDAndCustomParamsSoapOut">
    <wsdl:part element="tns:PostHtmlWithTypeKeyIDAndCustomParamsResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostTransactionalEmailWithHtmlTemplateSoapIn">
    <wsdl:part element="tns:PostTransactionalEmailWithHtmlTemplate" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostTransactionalEmailWithHtmlTemplateSoapOut">
    <wsdl:part element="tns:PostTransactionalEmailWithHtmlTemplateResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostTransactionalEmailWithXsltTemplateSoapIn">
    <wsdl:part element="tns:PostTransactionalEmailWithXsltTemplate" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostTransactionalEmailWithXsltTemplateSoapOut">
    <wsdl:part element="tns:PostTransactionalEmailWithXsltTemplateResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostTransactionalEmailWithXsltTemplate2SoapIn">
    <wsdl:part element="tns:PostTransactionalEmailWithXsltTemplate2" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PostTransactionalEmailWithXsltTemplate2SoapOut">
    <wsdl:part element="tns:PostTransactionalEmailWithXsltTemplate2Response" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostResultSoapIn">
    <wsdl:part element="tns:GetPostResult" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostResultSoapOut">
    <wsdl:part element="tns:GetPostResultResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostBulkResultSoapIn">
    <wsdl:part element="tns:GetPostBulkResult" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostBulkResultSoapOut">
    <wsdl:part element="tns:GetPostBulkResultResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostBulkResultWithOptionalSoapIn">
    <wsdl:part element="tns:GetPostBulkResultWithOptional" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostBulkResultWithOptionalSoapOut">
    <wsdl:part element="tns:GetPostBulkResultWithOptionalResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostBulkResultWithCustomParamsSoapIn">
    <wsdl:part element="tns:GetPostBulkResultWithCustomParams" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostBulkResultWithCustomParamsSoapOut">
    <wsdl:part element="tns:GetPostBulkResultWithCustomParamsResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostBulkResultByPostIdSoapIn">
    <wsdl:part element="tns:GetPostBulkResultByPostId" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostBulkResultByPostIdSoapOut">
    <wsdl:part element="tns:GetPostBulkResultByPostIdResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostBulkBounceResultSoapIn">
    <wsdl:part element="tns:GetPostBulkBounceResult" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostBulkBounceResultSoapOut">
    <wsdl:part element="tns:GetPostBulkBounceResultResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostBulkResultByLastUpdateSoapIn">
    <wsdl:part element="tns:GetPostBulkResultByLastUpdate" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostBulkResultByLastUpdateSoapOut">
    <wsdl:part element="tns:GetPostBulkResultByLastUpdateResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostResultHttpGetIn">
    <wsdl:part name="ServiceTicket" type="s:string"></wsdl:part>
    <wsdl:part name="PostID" type="s:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostResultHttpGetOut">
    <wsdl:part element="tns:EmPostResult" name="Body"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostResultHttpPostIn">
    <wsdl:part name="ServiceTicket" type="s:string"></wsdl:part>
    <wsdl:part name="PostID" type="s:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPostResultHttpPostOut">
    <wsdl:part element="tns:EmPostResult" name="Body"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PostSoap">
    <wsdl:operation name="PostHtml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enables free-html posting.</wsdl:documentation>
      <wsdl:input message="tns:PostHtmlSoapIn"></wsdl:input>
      <wsdl:output message="tns:PostHtmlSoapOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostHtmlWithCCandBCC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enables free-html posting with CC and BCC. Be aware that these CC and BCC emails may affect the reporting of transactional emails. Please use them after consulting euro.message IT Team.</wsdl:documentation>
      <wsdl:input message="tns:PostHtmlWithCCandBCCSoapIn"></wsdl:input>
      <wsdl:output message="tns:PostHtmlWithCCandBCCSoapOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostHtmlWithType">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enables free-html posting with type</wsdl:documentation>
      <wsdl:input message="tns:PostHtmlWithTypeSoapIn"></wsdl:input>
      <wsdl:output message="tns:PostHtmlWithTypeSoapOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostHtmlWithTypeCCandBCC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enables free-html posting with type with CC and BCC. Be aware that these CC and BCC emails may affect the reporting of transactional emails. Please use them after consulting euro.message IT Team.</wsdl:documentation>
      <wsdl:input message="tns:PostHtmlWithTypeCCandBCCSoapIn"></wsdl:input>
      <wsdl:output message="tns:PostHtmlWithTypeCCandBCCSoapOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostHtmlWithTypeKeyIDAndCustomParams">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enables free-html posting with type, key_id and custom fields</wsdl:documentation>
      <wsdl:input message="tns:PostHtmlWithTypeKeyIDAndCustomParamsSoapIn"></wsdl:input>
      <wsdl:output message="tns:PostHtmlWithTypeKeyIDAndCustomParamsSoapOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransactionalEmailWithHtmlTemplate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enables transactional template html posting.</wsdl:documentation>
      <wsdl:input message="tns:PostTransactionalEmailWithHtmlTemplateSoapIn"></wsdl:input>
      <wsdl:output message="tns:PostTransactionalEmailWithHtmlTemplateSoapOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransactionalEmailWithXsltTemplate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enables transactional template html posting.</wsdl:documentation>
      <wsdl:input message="tns:PostTransactionalEmailWithXsltTemplateSoapIn"></wsdl:input>
      <wsdl:output message="tns:PostTransactionalEmailWithXsltTemplateSoapOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransactionalEmailWithXsltTemplate2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enables transactional template html posting.</wsdl:documentation>
      <wsdl:input message="tns:PostTransactionalEmailWithXsltTemplate2SoapIn"></wsdl:input>
      <wsdl:output message="tns:PostTransactionalEmailWithXsltTemplate2SoapOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets Delivery Report For A Transactional Message</wsdl:documentation>
      <wsdl:input message="tns:GetPostResultSoapIn"></wsdl:input>
      <wsdl:output message="tns:GetPostResultSoapOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets Bulk Result For Transacrtional Messages Between Two Dates</wsdl:documentation>
      <wsdl:input message="tns:GetPostBulkResultSoapIn"></wsdl:input>
      <wsdl:output message="tns:GetPostBulkResultSoapOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkResultWithOptional">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets Bulk Result For Transactional Messages Between Two Dates and Optional Post Type and To Adress</wsdl:documentation>
      <wsdl:input message="tns:GetPostBulkResultWithOptionalSoapIn"></wsdl:input>
      <wsdl:output message="tns:GetPostBulkResultWithOptionalSoapOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkResultWithCustomParams">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets Bulk Result For Transactional Messages Between Two Dates and Custom Params</wsdl:documentation>
      <wsdl:input message="tns:GetPostBulkResultWithCustomParamsSoapIn"></wsdl:input>
      <wsdl:output message="tns:GetPostBulkResultWithCustomParamsSoapOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkResultByPostId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets Delivery Report For  Transactional Messages,out parameter give the messages results.</wsdl:documentation>
      <wsdl:input message="tns:GetPostBulkResultByPostIdSoapIn"></wsdl:input>
      <wsdl:output message="tns:GetPostBulkResultByPostIdSoapOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkBounceResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets Bulk Bounce Result For Transacrtional Messages Between Two Dates</wsdl:documentation>
      <wsdl:input message="tns:GetPostBulkBounceResultSoapIn"></wsdl:input>
      <wsdl:output message="tns:GetPostBulkBounceResultSoapOut"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkResultByLastUpdate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets Bulk Result For Transacrtional Messages Between Two Last Update Dates</wsdl:documentation>
      <wsdl:input message="tns:GetPostBulkResultByLastUpdateSoapIn"></wsdl:input>
      <wsdl:output message="tns:GetPostBulkResultByLastUpdateSoapOut"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PostHttpGet">
    <wsdl:operation name="GetPostResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets Delivery Report For A Transactional Message</wsdl:documentation>
      <wsdl:input message="tns:GetPostResultHttpGetIn"></wsdl:input>
      <wsdl:output message="tns:GetPostResultHttpGetOut"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PostHttpPost">
    <wsdl:operation name="GetPostResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets Delivery Report For A Transactional Message</wsdl:documentation>
      <wsdl:input message="tns:GetPostResultHttpPostIn"></wsdl:input>
      <wsdl:output message="tns:GetPostResultHttpPostOut"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PostSoap" type="tns:PostSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="PostHtml">
      <soap:operation soapAction="http://ws.euromsg.com/post/PostHtml" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostHtmlWithCCandBCC">
      <soap:operation soapAction="http://ws.euromsg.com/post/PostHtmlWithCCandBCC" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostHtmlWithType">
      <soap:operation soapAction="http://ws.euromsg.com/post/PostHtmlWithType" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostHtmlWithTypeCCandBCC">
      <soap:operation soapAction="http://ws.euromsg.com/post/PostHtmlWithTypeCCandBCC" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostHtmlWithTypeKeyIDAndCustomParams">
      <soap:operation soapAction="http://ws.euromsg.com/post/PostHtmlWithTypeKeyIDAndCustomParams" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransactionalEmailWithHtmlTemplate">
      <soap:operation soapAction="http://ws.euromsg.com/post/PostTransactionalEmailWithHtmlTemplate" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransactionalEmailWithXsltTemplate">
      <soap:operation soapAction="http://ws.euromsg.com/post/PostTransactionalEmailWithXsltTemplate" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransactionalEmailWithXsltTemplate2">
      <soap:operation soapAction="http://ws.euromsg.com/post/PostTransactionalEmailWithXsltTemplate2" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostResult">
      <soap:operation soapAction="http://ws.euromsg.com/post/GetPostResult" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkResult">
      <soap:operation soapAction="http://ws.euromsg.com/post/GetPostBulkResult" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkResultWithOptional">
      <soap:operation soapAction="http://ws.euromsg.com/post/GetPostBulkResultWithOptional" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkResultWithCustomParams">
      <soap:operation soapAction="http://ws.euromsg.com/post/GetPostBulkResultWithCustomParams" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkResultByPostId">
      <soap:operation soapAction="http://ws.euromsg.com/post/GetPostBulkResultByPostId" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkBounceResult">
      <soap:operation soapAction="http://ws.euromsg.com/post/GetPostBulkBounceResult" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkResultByLastUpdate">
      <soap:operation soapAction="http://ws.euromsg.com/post/GetPostBulkResultByLastUpdate" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostSoap12" type="tns:PostSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"></soap12:binding>
    <wsdl:operation name="PostHtml">
      <soap12:operation soapAction="http://ws.euromsg.com/post/PostHtml" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostHtmlWithCCandBCC">
      <soap12:operation soapAction="http://ws.euromsg.com/post/PostHtmlWithCCandBCC" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostHtmlWithType">
      <soap12:operation soapAction="http://ws.euromsg.com/post/PostHtmlWithType" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostHtmlWithTypeCCandBCC">
      <soap12:operation soapAction="http://ws.euromsg.com/post/PostHtmlWithTypeCCandBCC" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostHtmlWithTypeKeyIDAndCustomParams">
      <soap12:operation soapAction="http://ws.euromsg.com/post/PostHtmlWithTypeKeyIDAndCustomParams" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransactionalEmailWithHtmlTemplate">
      <soap12:operation soapAction="http://ws.euromsg.com/post/PostTransactionalEmailWithHtmlTemplate" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransactionalEmailWithXsltTemplate">
      <soap12:operation soapAction="http://ws.euromsg.com/post/PostTransactionalEmailWithXsltTemplate" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransactionalEmailWithXsltTemplate2">
      <soap12:operation soapAction="http://ws.euromsg.com/post/PostTransactionalEmailWithXsltTemplate2" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostResult">
      <soap12:operation soapAction="http://ws.euromsg.com/post/GetPostResult" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkResult">
      <soap12:operation soapAction="http://ws.euromsg.com/post/GetPostBulkResult" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkResultWithOptional">
      <soap12:operation soapAction="http://ws.euromsg.com/post/GetPostBulkResultWithOptional" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkResultWithCustomParams">
      <soap12:operation soapAction="http://ws.euromsg.com/post/GetPostBulkResultWithCustomParams" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkResultByPostId">
      <soap12:operation soapAction="http://ws.euromsg.com/post/GetPostBulkResultByPostId" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkBounceResult">
      <soap12:operation soapAction="http://ws.euromsg.com/post/GetPostBulkBounceResult" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostBulkResultByLastUpdate">
      <soap12:operation soapAction="http://ws.euromsg.com/post/GetPostBulkResultByLastUpdate" style="document"></soap12:operation>
      <wsdl:input>
        <soap12:body use="literal"></soap12:body>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"></soap12:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostHttpGet" type="tns:PostHttpGet">
    <http:binding verb="GET"></http:binding>
    <wsdl:operation name="GetPostResult">
      <http:operation location="/GetPostResult"></http:operation>
      <wsdl:input>
        <http:urlEncoded></http:urlEncoded>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"></mime:mimeXml>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostHttpPost" type="tns:PostHttpPost">
    <http:binding verb="POST"></http:binding>
    <wsdl:operation name="GetPostResult">
      <http:operation location="/GetPostResult"></http:operation>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"></mime:content>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"></mime:mimeXml>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Post">
    <wsdl:port binding="tns:PostSoap" name="PostSoap">
      <soap:address location="http://ws.euromsg.com/live/post.asmx"></soap:address>
    </wsdl:port>
    <wsdl:port binding="tns:PostSoap12" name="PostSoap12">
      <soap12:address location="http://ws.euromsg.com/live/post.asmx"></soap12:address>
    </wsdl:port>
    <wsdl:port binding="tns:PostHttpGet" name="PostHttpGet">
      <http:address location="http://ws.euromsg.com/live/post.asmx"></http:address>
    </wsdl:port>
    <wsdl:port binding="tns:PostHttpPost" name="PostHttpPost">
      <http:address location="http://ws.euromsg.com/live/post.asmx"></http:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>